[user]
	name = Watal M. Iwasaki
	email = heavywatal@users.noreply.github.com
[color]
	ui = auto
[core]
	quotepath = false
	hookspath = ~/.config/git/hooks
[push]
	default = simple
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[commit]
	template = ~/.config/git/commit_template
[alias]
	st = status
	sta = status
	lg = log --pretty='format:%C(auto)%h %ci% D%+B'
	ln = log --pretty='format:%C(auto)%h %ci% D%+B' --name-status
