[user]
	name = Watal M. Iwasaki
	email = heavy.watal@gmail.com
[github]
	user = heavywatal
[color]
	ui = auto
[push]
	default = simple
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[core]
	quotepath = false
	editor = vi
[commit]
	template = ~/.config/git/commit_template
