"*":
  "atom-typescript": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
    enableAutoActivation: false
    minimumWordLength: 1
    useCoreMovementCommands: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "atom-typescript"
      "nuclide-hg-repository"
      "minimap"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Ubuntu Mono"
    invisibles:
      space: " "
    lineHeight: 1.2
    showInvisibles: true
    tabLength: 1
    tabType: "soft"
  "exception-reporting":
    userId: "f0d28512-acf7-2fb1-594b-afb76e3c99ba"
  "file-icons": {}
  "git-diff": {}
  linter: {}
  "markdown-preview":
    useGitHubStyle: true
  metrics:
    userId: "d41006fb557ba1ecaf77a96d564817b4f1b41194"
  minimap:
    devicePixelRatioRounding: false
    displayMinimapOnLeft: true
  pigments: {}
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
