"*":
  Hydrogen:
    startupCode: "{\"Python 3\": \"%matplotlib inline\"}"
  "atom-material-ui":
    colors:
      abaseColor: "#7e7e7e"
      predefinedColor: "Grey"
    tabs:
      compactTabs: true
    ui:
      useAnimations: false
  "autocomplete-plus":
    confirmCompletion: "enter"
    enableAutoActivation: false
    minimumWordLength: 1
    strictMatching: true
    useCoreMovementCommands: false
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    highlightMatchingLineNumber: true
    wrapSelectionsInBrackets: false
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  core:
    automaticallyUpdate: false
    destroyEmptyPanes: false
    disabledPackages: [
      "language-gfm"
      "linter-write-good"
      "welcome"
      "archive-view"
      "autosave"
      "background-tips"
      "bookmarks"
      "update-package-dependencies"
      "package-generator"
      "spell-check"
      "language-babel"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "man"
      "docs"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "language-markdown"
      "markdown-writer"
      "r-exec"
    ]
    projectHome: "/Users/watal/git"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
    useProxySettingsWhenCallingApm: false
  editor:
    atomicSoftTabs: false
    autoIndentOnPaste: false
    fontFamily: "Ubuntu Mono"
    invisibles:
      space: " "
    lineHeight: 1.2
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "f0d28512-acf7-2fb1-594b-afb76e3c99ba"
  "file-icons":
    strategies:
      grammar: false
  "language-markdown":
    addListItems: false
    autoIncrementListItems: false
    emphasisShortcuts: false
    indentListItems: false
    linkShortcuts: false
    removeEmptyListItems: false
  latex:
    enableExtendedBuildMode: false
  "linter-chktex":
    chktexArgs: [
      "-wall"
      "-n22"
      "-n30"
      "-n46"
    ]
  "linter-clang":
    clangDefaultCppFlags: "-std=c++14 -Wall -Wextra -pedantic --Weffc++ -Wcast-align -Wcast-qual -Wconversion -Wno-sign-conversion -Wdisabled-optimization -Wdouble-promotion -Wfloat-equal -Wformat=2 -Winit-self -Wmissing-include-dirs -Wold-style-cast -Woverloaded-virtual -Wredundant-decls -Wshadow -Wstrict-aliasing=1 -Wstrict-overflow=5 -Wswitch-default"
    clangIncludePaths: [
      "/Users/watal/local/include"
      "/usr/local/include"
      "/Users/watal/.R/library/Rcpp/include"
    ]
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "linter-ui-default":
    showPanel: true
  metrics:
    userId: "d41006fb557ba1ecaf77a96d564817b4f1b41194"
  "r-exec":
    focusWindow: false
    whichApp: "iTerm2"
  "spell-check":
    grammars: [
      "text.plain"
      "text.git-commit"
      "source.gfm"
      "text.md"
      "text.tex.latex"
    ]
  tabs:
    addNewTabsAtEnd: true
    enableMruTabSwitching: false
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".go.source":
  editor:
    tabType: "hard"
".latex.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
