"*":
  "atom-typescript": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
    enableAutoActivation: false
    minimumWordLength: 1
    useCoreMovementCommands: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  core:
    automaticallyUpdate: false
    destroyEmptyPanes: false
    disabledPackages: [
      "atom-typescript"
      "nuclide-hg-repository"
      "minimap"
      "language-gfm"
      "linter-lintr"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "markdown-writer"
    ]
    projectHome: "/Users/watal/git"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    atomicSoftTabs: false
    autoIndentOnPaste: false
    fontFamily: "Ubuntu Mono"
    invisibles:
      space: " "
    lineHeight: 1.2
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "ever-notedown":
    checkbox: false
    footnote: false
    liveUpdate: false
    mathjaxCustomMacros: "None"
    openPreviewInSplitPane: false
    syncScroll: false
    syntaxTheme: "Github"
    theme: "Atom"
    toc: false
  "exception-reporting":
    userId: "f0d28512-acf7-2fb1-594b-afb76e3c99ba"
  "file-icons": {}
  "git-diff": {}
  "git-plus": {}
  "language-markdown":
    addListItems: false
    removeEmptyListItems: false
  latex:
    alwaysOpenResultInAtom: true
    moveResultToSourceDirectory: false
  linter: {}
  "linter-clang":
    clangDefaultCppFlags: "-Wall -Wextra -Wno-pragma-once-outside-header -std=c++14"
    clangIncludePaths: [
      "/Users/watal/local/include"
      "/Users/watal/.R/library/Rcpp/include"
    ]
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer": {}
  metrics:
    userId: "d41006fb557ba1ecaf77a96d564817b4f1b41194"
  minimap:
    devicePixelRatioRounding: false
    displayMinimapOnLeft: true
  "pdf-view":
    fitToWidthOnOpen: true
    reverseSyncBehaviour: "Double click"
  pigments: {}
  "r-exec":
    focusWindow: false
    whichApp: "iTerm2"
  "spell-check":
    grammars: [
      "text.plain"
      "text.git-commit"
      "source.gfm"
      "text.md"
      "text.tex.latex"
    ]
  "status-bar": {}
  tablr: {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "terminal-plus":
    core: {}
    style:
      theme: "homebrew"
    toggles:
      autoClose: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".css.source":
  editor:
    tabLength: 1
".latex.tex.text":
  editor:
    softWrap: true
