'atom-text-editor:not([mini])':
  'ctrl-m': 'editor:newline'
  'ctrl-i': 'autocomplete-plus:activate'

'atom-text-editor.autocomplete-active':
  'down': 'autocomplete-plus:move-down'
  'up': 'autocomplete-plus:move-up'
  'ctrl-i': 'autocomplete-plus:move-down'
  'ctrl-u': 'autocomplete-plus:move-up'
  'ctrl-j': 'autocomplete-plus:confirm'
  'ctrl-m': 'autocomplete-plus:confirm'

# for Markdown Writer
# https://atom.io/packages/markdown-writer
'.platform-darwin atom-text-editor[data-grammar~="md"]':
  'shift-cmd-K': 'markdown-writer:insert-link'
  'shift-cmd-I': 'markdown-writer:insert-image'
  'cmd-i':       'markdown-writer:toggle-italic-text'
  'cmd-b':       'markdown-writer:toggle-bold-text'
  'cmd-k':       'markdown-writer:toggle-keystroke-text'
  "cmd-'":       'markdown-writer:toggle-codeblock-text'
  'cmd-"':       'markdown-writer:toggle-blockquote'
  'shift-cmd-O': 'markdown-writer:toggle-ol'
  'shift-cmd-U': 'markdown-writer:toggle-ul'

# to disable insane default MRU tabs introduced in v1.7
# https://github.com/atom/atom/issues/5344
# https://github.com/atom/atom/issues/11035
'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
