[
  {
    title: "dotfiles"
    paths: [
      "/Users/watal/git/dotfiles"
    ]
    icon: "icon-gear"
  }
  {
    title: "rwtl"
    paths: [
      "/Users/watal/git/rwtl"
    ]
    icon: "icon-package"
  }
  {
    title: "pywtl"
    paths: [
      "/Users/watal/git/pywtl"
    ]
    icon: "icon-package"
  }
  {
    title: "cxxwtl"
    paths: [
      "/Users/watal/git/cxxwtl"
    ]
    icon: "icon-plus"
  }
  {
    title: "sketchbook"
    paths: [
      "/Users/watal/git/sketchbook"
    ]
    icon: "icon-zap"
  }
  {
    title: "heavywatal.github.io"
    paths: [
      "/Users/watal/git/heavywatal.github.io"
    ]
    icon: "icon-globe"
  }
  {
    title: "offline"
    paths: [
      "/Users/watal/git/offline"
    ]
    icon: "icon-markdown"
  }
  {
    title: "slides-draft"
    paths: [
      "/Users/watal/git/slides-draft"
    ]
    icon: "icon-markdown"
  }
  {
    title: "manuscript"
    paths: [
      "/Users/watal/git/manuscript"
    ]
    icon: "icon-pencil"
  }
  {
    title: "homebrew-tap"
    paths: [
      "/usr/local/Homebrew/Library/Taps/heavywatal/homebrew-tap"
    ]
    icon: "icon-ruby"
  }
  {
    title: "tumopp"
    paths: [
      "/Users/watal/git/tumopp"
    ]
    icon: "icon-plus"
  }
  {
    title: "likeligrid"
    paths: [
      "/Users/watal/git/likeligrid"
    ]
    icon: "icon-plus"
  }
  {
    title: "tek-evolution"
    paths: [
      "/Users/watal/git/tek-evolution"
    ]
    icon: "icon-plus"
  }
  {
    title: "blackthunnus"
    paths: [
      "/Users/watal/git/blackthunnus"
    ]
    icon: "icon-plus"
  }
  {
    title: "gerene"
    paths: [
      "/Users/watal/git/gerene"
    ]
    icon: "icon-plus"
  }
  {
    title: "InnanLab"
    paths: [
      "/Users/watal/git/innanlab"
    ]
    icon: "icon-organization"
  }
]
