[
  {
    title: "dotfiles"
    paths: [
      "/Users/watal/git/dotfiles"
    ]
  }
  {
    title: "hugobook"
    paths: [
      "/Users/watal/git/hugobook"
    ]
  }
  {
    title: "github.io"
    paths: [
      "/Users/watal/git/heavywatal.github.io"
    ]
  }
  {
    title: "manuscript"
    paths: [
      "/Users/watal/git/manuscript/cancer"
    ]
  }
  {
    title: "cxxwtils"
    paths: [
      "/Users/watal/git/cxxwtils"
    ]
  }
  {
    title: "edal"
    paths: [
      "/Users/watal/git/edal"
    ]
  }
  {
    title: "tumopp"
    paths: [
      "/Users/watal/git/tumopp"
    ]
  }
  {
    title: "tumorr"
    paths: [
      "/Users/watal/git/tumorr"
    ]
  }
  {
    title: "InnanLab"
    paths: [
      "/Users/watal/git/innanlab"
    ]
  }
  {
    title: "rwtl"
    paths: [
      "/Users/watal/git/rwtl"
      "/Users/watal/hg/rstats/wtl"
    ]
  }
  {
    title: "lmpp"
    paths: [
      "/Users/watal/git/lmpp"
    ]
  }
  {
    title: "likeligrid"
    paths: [
      "/Users/watal/git/likeligrid"
    ]
  }
]
