'.text.md':
  '<div>\\[\\begin{split}':
    'prefix': 'equation'
    'body': '<div>\\\\[\\\\begin{split}\n\n\\\\end{split}\\\\]</div>'
  '<div class="note">':
    'prefix': 'note'
    'body': '{{%div class="note"%}}\n\n{{%/div%}}'
  '<div class="warning">':
    'prefix': 'warning'
    'body': '{{%div class="warning"%}}\n\n{{%/div%}}'
  '{{< relref >}}':
    'prefix': 'relref'
    'body': '[]({{< relref ".md" >}})'

'.text.tex.latex':
  '%%%%':
    'prefix': 'hr'
    'body': '%%%%%%%%%1%%%%%%%%%2%%%%%%%%%3%%%%%%%%%4%%%%%%%%%5%%%%%%%%%6%%%%%%%%%7%%%%%%%%%'
  '\\begin{equation}':
    'prefix': 'equation'
    'body': '''\\\\begin{equation*}\\\\label{eq:}
               \\\\begin{split}\n
               \\\\end{split}
               \\\\end{equation*}'''
  '\\begin{align}':
    'prefix': 'align'
    'body': '\\\\begin{align}\n\\\\end{align}'
  '\\begin{itemize}':
    'prefix': 'itemize'
    'body': '''\\\\begin{itemize}
               \\\\item
               \\\\end{itemize}'''
  '\\begin{enumerate}':
    'prefix': 'enumerate'
    'body': '''\\\\begin{enumerate}
               \\\\item
               \\\\end{enumerate}'''
  '\\begin{description}':
    'prefix': 'description'
    'body': '''\\\\begin{description}
               \\\\item[key] value
               \\\\end{description}'''
  '\\begin{figure}':
    'prefix': 'figure'
    'body': '''\\\\begin{figure}[tbp]
               \\\\includegraphics[width=1.0\\\\textwidth]{.png}
               \\\\caption{
               }\\\\label{fig:}
               \\\\end{figure}'''
  '\\begin{table}':
    'prefix': 'table'
    'body': '''\\\\begin{table}[tbp]
               \\\\caption{
               }\\\\label{table:}
               \\\\begin{tabular}{lrlr}\n
               \\\\end{tabular}
               \\\\end{table}'''

'.source.cpp':
  '////':
    'prefix': 'hr'
    'body': '/////////1/////////2/////////3/////////4/////////5/////////6/////////7/////////'

'.source.r, .source.python':
  '####':
    'prefix': 'hr'
    'body': '# #######1#########2#########3#########4#########5#########6#########7#########'
