/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.`
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

atom-text-editor {
  .syntax--raw {
    opacity: 0.8;
  }

  .syntax--heading {
    font-weight: bold;
    color: #fff;
  }

  .syntax--bold {
    font-weight: bold;
  }

  .syntax--italic {
    font-style: italic;
  }
}

atom-workspace {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
}

.tab {
  .icon::before {
    margin-right: 0.3em !important;
  }
}

.tree-view {
  .list-item {
    line-height: 1.6em !important;
  }

  .selected::before {
    height: 1.6em;
  }

  .project-root {
    .list-nested-item {
      padding-left: 1.6em !important;
    }
  }

  .file {
    padding-left: 0.45em !important;
  }

  .list-item::before {
    margin-right: 0.2em !important;
  }

  .icon::before {
    margin-right: 0.3em;
  }
}
