@charset "UTF-8";

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

body {
  margin: 1rem;
  color: #444;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic Medium", sans-serif;
}

pre,
code,
kbd {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Yu Gothic Medium", monospace;
  font-size: inherit;
}

pre {
  background-color: #f6f6f6;
  padding: 0.8rem;
}

img,
.plotly,
.rglWebGL {
  display: inline-block;
  vertical-align: top;
}

body .main-container {
  max-width: inherit;
}
