*Cache*
*Storage
/*.sock
/Backups
/blob_storage
/code.lock
/Cookies*
/Crashpad*
/databases
/IndexedDB
/languagepacks.json
/logs
/machineid
/Network*
/Preferences
/QuotaManager*
/rapid_render.json
/Service*
/shared_proto_db
/storage.json
/TransportSecurity
/User/gpm-recentItems.json
/User/History
/User/vsicons.settings.json
/User/workspace
/VideoDecodeStats
/webrtc_event_logs
