*Cache*
*Storage
/*.sock
/Backups
/Cookies*
/Network*
/Preferences
/TransportSecurity
/blob_storage
/languagepacks.json
/logs
/machineid
/rapid_render.json
/storage.json
/webrtc_event_logs
/User/workspace
/User/gpm-recentItems.json
/User/vsicons.settings.json
