*Cache*
*Storage
/*.sock
/Backups
/Cookies*
/Crashpad*
/Network*
/Preferences
/QuotaManager*
/Service*
/TransportSecurity
/blob_storage
/databases
/languagepacks.json
/logs
/machineid
/rapid_render.json
/storage.json
/webrtc_event_logs
/User/workspace
/User/gpm-recentItems.json
/User/vsicons.settings.json
